<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>name</key>
			<string>SF 4th and King</string>
			<key>latitude</key>
			<real>37.7766599655</real>
			<key>longitude</key>
			<real>-122.3946000338</real>
		</dict>
		<dict>
			<key>name</key>
			<string>SF 22nd St</string>
			<key>latitude</key>
			<real>37.7562799454</real>
			<key>longitude</key>
			<real>-122.3927999735</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Millbrae</string>
			<key>latitude</key>
			<real>37.59994</real>
			<key>longitude</key>
			<real>-122.38658</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Palo Alto (University Ave)</string>
			<key>latitude</key>
			<real>37.4436399937</real>
			<key>longitude</key>
			<real>-122.1650099754</real>
		</dict>
		<dict>
			<key>name</key>
			<string>California Ave (Palo Alto)</string>
			<key>latitude</key>
			<real>37.42939</real>
			<key>longitude</key>
			<real>-122.14202</real>
		</dict>
	</array>
</dict>
</plist>
